Package: net.erike.reducewhitepoint
Name: Reduce White Point
Description: Activate/Deactivate Reduce White Point
Version: 1.0
Priority: optional
Section: Addons (Flipswitch)
Architecture: iphoneos-arm
Depends: mobilesubstrate, com.a3tweaks.flipswitch
Maintainer: erike
Author: erike
